
@{
    ViewData["Title"] = "Menu de Proveedores";
}

<div class="container-fluid">
    <div class="col-12" style="margin:auto; justify-content:center; align-items:center;">
        <div class="row" style="margin:auto; justify-content:center; align-items:center; position:center; margin-top:15%">
            <div class="col-lg-4 col-sm-12">
                @*<input type="submit" icon="" class="img-fluid" onclick="Crear()" />*@
                @*<a src="../Home/Index" icon="~/img/CobroClie.png"></a>*@
                <img src="~/img/PagoProv.png" width="90%" height="90%" />
                <br />
                <label>
                    @Html.ActionLink("Crear nuevo pago a proveedor", "Create", "PagoProveedores")
                </label>
            </div>
            <div class="col-lg-4 col-sm-12">
                @*<input type="submit" icon="" class="img-fluid" onclick="Buscar()" />*@
                @*<a src="../Home/Index" icon="~/img/Buscar.png"></a>*@
                <img src="~/img/Estatus.png" width="70%" height="70%" />
                <br />
                <label>
                    @Html.ActionLink("Ver detalle de pagos a proveedores", "Index", "PagoProveedores")
                </label>
            </div>
            <div class="col-lg-4 col-sm-12">
                <img src="~/img/Excel.png" width="70%" height="70%" />
                <br />
                <label>
                    @Html.ActionLink("Carga de pagos a proveedores", "Payment", "PagoProveedores")
                </label>
            </div>
        </div>
        @*<div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">

                </div>
            </div>*@
    </div>
    <script type="text/javascript">
        function Crear() {
            window.location.href = "../CrearPago";
        }
    </script>
</div>
